<!DOCTYPE html>
<html ng-app="myApp" >

  <head>
    <meta charset="utf-8" />
    <title>AngularJS Plunker</title>
    <script>document.write('<base href="' + document.location + '" />');</script>
    <link rel="stylesheet" href="style.css" />
    <script data-require="angular.js@1.4.x" src="https://code.angularjs.org/1.4.12/angular.js" data-semver="1.4.9"></script>
    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <script src="app.js"></script>
  </head>

  <body ng-controller="MainCtrl">
    
	<table class="table table-bordered">
		<thead>
			<tr>
				<th rowspan="2">Device name</th>
				<th colspan="4">Recent Active Alarm</th>	
			</tr>
			<tr>
				<th>Alarm Type</th>
				<th>Date</th>
				<th>Text</th>
				<th>Severity</th>	
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="list in sortedAlarmArray track by list.name">
				<td>{{list.name}}</td>
				<td>{{list.alarm[0].type}}</td>
				<td>{{list.alarm[0].creationTime | date :  "dd.MM.yyyy"}}</td>
				<td>{{list.alarm[0].text}}</td>
				<td>{{list.alarm[0].severity}}</td>
			</tr>
		</tbody>
	</table>
	<link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css" />
    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
  </body>
</html>
